source https://api.nuget.org/v3/index.json

storage: none


group Site
    source https://api.nuget.org/v3/index.json
    
    storage: none

    nuget FsHttp
    nuget dotenv.net
    nuget FSharp.Data
    nuget AWSSDK.S3

group Build
    source https://api.nuget.org/v3/index.json

    storage: none

    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.JavaScript.Npm

group Solid
    source https://api.nuget.org/v3/index.json

    storage: none
    nuget Fable.Core
    nuget Fable.Browser.Dom
    nuget Fable.JsonProvider
    nuget Fable.Browser.MediaQueryList
    nuget Fable.Browser.IntersectionObserver prerelease
    nuget Oxpecker.Solid