@import 'tailwindcss';
@source "src/**/*.jsx";
@source "src/**/*.fs";

@custom-variant dark (&:where(.dark, .dark *));

@custom-variant hocus (&:hover, &:focus);

@layer utilities {
  .hamburger-toggle {
    @apply [&>div]:h-0 [&>div]:bg-white dark:[&>div]:bg-black [&>div]:before:translate-y-0 [&>div]:before:rotate-45 [&>div]:after:translate-y-0 [&>div]:after:-rotate-45;
  }
}

@theme {
  --animate-smallbounce: smallbounce 1s ease-in-out infinite;
  @keyframes smallbounce {
    0%,
    100% {
      transform: translateY(-13%) skewX(-5deg);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0) skewX(5deg);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  --animate-flicker: flicker 250ms linear;
  @keyframes flicker {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@layer base {
  /* Your base styles here */
  html {
    font-family: 'Roboto', sans-serif;
  }
  body {
    @apply bg-gray-100 dark:bg-gray-950 text-gray-900 dark:text-gray-100;
  }
  h1 {
    @apply text-3xl md:text-4xl;
  }
  h2 {
    @apply text-2xl md:text-3xl;
  }
  h3 {
    @apply text-xl md:text-2xl mt-3;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }
  /* next sibling just after the navbar tag */
  nav + * {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply mx-auto max-w-2xl;
    }
    p {
      @apply mx-auto text-lg mt-2 indent-4 max-w-2xl text-justify;
    }
  }

  hr {
    @apply m-8 collapse;
  }
}

@layer components {
  /* Your component classes here */
  /* select h2 element which has «Partenaires» in its text */

  p:has(> img[src^='medias/logo-']) {
    @apply flex items-center justify-around mb-4 text-2xl border-amber-300 border-2 rounded-md dark:border-blue-700 my-5 py-2 bg-yellow-50 dark:bg-blue-950;

    img {
      @apply h-20 rounded-2xl dark:brightness-75;
    }
  }
  /*  mailchimp form */
  input[type='email'] {
    @apply p-2 m-2 border-2 border-gray-300 rounded-md dark:border-blue-700;
  }
  input[type='submit'] {
    @apply p-2 m-2 border-2 border-gray-300 rounded-md dark:border-blue-700;
  }

  #mc_embed_signup {
    h3 {
      @apply m-0;
    }
    img {
      @apply h-10 rounded-2xl dark:brightness-75;
    }
  }

  .swiper-slide-prev,
  .swiper-slide-next {
    @apply grayscale-50 -z-10 duration-1000 ease-in-out;
  }
  .swiper-slide-next {
    @apply -rotate-x-15;
  }
  .swiper-slide-prev {
    @apply rotate-x-15;
  }
  .vignette-invisible {
    @apply translate-y-1/2;
  }
}
