@tailwind base;
@tailwind components;
@tailwind utilities;

$border-radius: 5px;
$card-color: #f8f8f8;

body {
  @apply overflow-x-hidden;
  font-family: 'Roboto', sans-serif;
}

// body {
//   font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
// }

p {
  text-align: justify;
}


.child {
  width: 100%;
  height: 100%;
  background-color: black;
  /* fallback color */
  transition: all .5s;
  background-position: center;
  background-size: cover;
}

.card-text {
  // make the text invisible unless hovered, and make it transition smoothly from the bottom
  // with an slight opacity effect
  // exclude the text from the scale effect
  // make the text ellispis if it's too long
  opacity: 0;
  transition: all .5s;
  position: absolute;
  bottom: -80px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: wrap;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom,
      from(rgba(0, 0, 0, 1)), color-stop(80%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));

  p {
    // width: 300px;
    // width: 350px;
    margin: 0;
    text-indent: 10%;
  }
}


.parent {
  position: relative;
  // border-radius: $border-radius $border-radius 0 0;
  border-radius: $border-radius;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  overflow: hidden;

  .imgtitle {
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    .visible {
      opacity: 1;
      transform: translateY(50%);
      transition: ease-in 0.5s;
    }
  }
}

.parent:hover,
.parent:focus {
  .child {
    transform: scale(1.2);
  }

  .card-text {
    opacity: 1;
    transform: translateY(-100%);
  }


}

.vignette image {
  border-radius: $border-radius $border-radius 0 0;
}

.vignette div.alltext {
  margin: 30px;
  font-size: smaller;
  text-align: justify;
  line-height: 125%;
  text-indent: 20px;
}

.vignette hover {
  opacity: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 350ms ease;
}

.vignette div.over {
  border-radius: $border-radius $border-radius 0 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  transition: background-color 350ms ease;
  background-color: transparent;
  padding: 0px;
  box-sizing: border-box;
}

.vignette h3.sub {
  color: white;
  // font-family: Arimo;
  transform: translate3d(0, 50px, 0);
  transition: transform 350ms ease;
  margin: 10%;
}

.vignette {
  border-radius: $border-radius;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  // width: 300px;
  text-decoration: none;
  background-color: $card-color;
  cursor: pointer;

  :link {
    color: #333;
  }

  :hover div.over {
    background-color: rgba(0, 0, 0, 0.5);
  }

  :hover h3.sub {
    transform: translate3d(0, 0, 0);
  }

  :hover .vignette-hover {
    opacity: 1;
  }
}


a {
  margin-right: 1rem;
}

main {
  text-align: center;
  padding: 1em;
  margin: 0 auto;

  p {
    margin: 0 20% 0 20%;
  }
}

h1 {
  color: #335d92;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.1;
  margin: 4rem auto;
  max-width: 14rem;
}

p {
  max-width: 14rem;
  margin: 2rem auto;
  line-height: 1.35;
}

@media (min-width: 480px) {
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }
}

[data-scope=tabs] {
  text-transform: uppercase;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 2rem;

  [data-part=list] {
    background-color: rgba(92, 156, 44, 0.5);
    backdrop-filter: blur(1px);
  }

  [data-selected],
  [data-part=trigger]:hover {
    background-color: #f1cb3f;
    border-radius: 15px;
  }

  [data-selected] {
    background-color: #c6ef4c;
    border-radius: 15px;
  }

  [data-part=trigger] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    a {
      margin-left: 1rem;
      padding: 0.2rem;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        display: block;
      }
    }
  }
}